{# モバイル用カスタムフッター #}
<div class="custom-footer-mobile">

  {# 背景画像 #}
  <div class="custom-footer-mobile__background">
    {# <img src="{{ 'public://image/footer/background.avif'|file_url }}" alt=""> #}
  </div>

</div>