{# カスタムフッター #}
<div class="custom-footer">

  <div class="custom-footer__memo" style="position: relative; text-align: center; z-index: 1;">
    <p style="color: #fff; display: inline;">カスタムフッター</p>
    <p style="color: #fff; display: inline;">displaysuite\templates\custom_footer.html.twig</p>
  </div>
  {# コピーライト #}
  <div class="custom-footer__copyright">
    <span>{{ copyright }}</span>
  </div>
  <div class="custom-footer__background">
{#     <img src="{{ background }}" alt=""> #}
  </div>

</div>