{# カスタムヘッダー(カスタムブロック) #}
<div class="header">
  <h1>
    <a href="/">
      {# <img src={{ 'public://image/logo.svg'|file_url }} alt={{ '[site:name]'|token_replace }}> #}
      <p>ロゴやメニュー</p>
      <p>カスタムヘッダー（ブロックコンテンツ）</p>
      <p>displaysuite\templates\custom_header_custom_block.html.twig</p>
    </a>
  </h1>
</div>

{# <div class="menu">
  <nav>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/company">会社概要</a></li>
      <li><a href="/example">制作事例</a></li>
      <li><a href="/service">サービス</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
  </nav>
</div> #}

{# 必要であれば、ここにパンくずリストを取り込む #}
{# <div class="breadcrumbs">
  {{ drupal_breadcrumb() }}
</div> #}