{# カスタム検索フォーム #}
<form action="/search/custom" method="get" class="custom-search-form" accept-charset="UTF-8">
  <div class="search-wrapper">
    <input placeholder="キーワードから探す" type="text" name="search_api_fulltext" maxlength="64" class="search-keyword">
    <button type="submit" value="検索" class="seach-button"></button>
  </div>
</form>
