{# スクリーンリーダーボタン #}
<div id="tts-reader">
  <img src={{ 'public://image/icon/common/speak.svg'|file_url }}>
</div>
<div id="tts-stop">
  <img src={{ 'public://image/icon/common/shutup.svg'|file_url }}>
</div>
