{# フォントサイズ変更 #}
<div class="switch-fontsize">
  <header>
    <p><small>文字サイズ</small></p>
  </header>
  <section>
    <input id="fontsize-controller" type="checkbox">
    <label class="fontsize-label" for="fontsize-controller">
      <small class="default">標準</small><small class="large">拡大</small>
    </label>
  </section>
</div>