{# ダークモード変更 #}
<div class="switch-darkmode">
  <header>
    <p><small>色の調整</small></p>
  </header>
  <section>
    <input id="darkmode-controller" type="checkbox">
    <label class="darkmode-label" for="darkmode-controller">
      <small class="default">標準</small><small class="dark">暗い</small>
    </label>
  </section>
</div>