{# YoutubeのURLテキストから動画表示に変換する #}
{# リッチテキスト(HTML編集)にで埋め込みすればこんなことをしなくても良いが、利用者にわかりやすいようにするため #}
{# ノードコンテンツのfield_youtube_embedの値を使用する #}
{% set code = node.field_youtube_embed.value %}
<div class="youtube">{{ code|raw }}</div>
